{% extends 'account/index.html.twig' %}
{% block importmap %}
    {{ importmap(['app', 'account']) }}
{% endblock %}
{% block bodyAccount %}
    <div class="titleBloc">
        <h1>Détail de ma commande n° <span>{{ orderDetails.order.reference }}</span></h1>
        <h3>Le {{ orderDetails.order.orderDate.format('d/m/Y') }}</h3>
    </div>
    <section>
        <div class="containerOrderDetails">
            <table>
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Prix unitaire</th>
                    <th>Quantité</th>
                    <th>Sous-total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in orderDetails.items %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.price / 100 }} € </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.subtotal / 100 }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="3">Total</th>
                    <th>{{ orderDetails.total / 100 }} €</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>

{% endblock %}